@media (max-width: 1023px)
{
body {  
    margin: 0;  
    background: #e6e6e6;  
}  
.showSlide {  
    display: none  
}  
    .showSlide img {  
        width: 100%;  
    }  
div.showSlide.grid_diapo{
    display: grid;
}
.slidercontainer { 
    height: 850px;
    margin-top: -150px;
    
     
     
}  
.left, .right {  
    cursor: pointer;  
    position: absolute;  
    bottom: -1800px;
    width: auto;  
    padding: 16px;  
    margin: 100px 15px 0 15px;  
    color: black;  
    font-weight: bold;  
    font-size: 60px;  
    transition: 0.6s ease;  
    border-radius: 10px;
    background-color: gray;
    opacity:0.78; 
}  
.left2, .right2 {  
    cursor: pointer;  
    position: absolute;  
    bottom: -3000px;
    width: auto;  
    padding: 16px;  
    margin: 100px 15px 0 15px;  
    color: black;  
    font-weight: bold;  
    font-size: 60px;  
    transition: 0.6s ease;  
    border-radius: 10px;
    background-color: gray;
    opacity:0.78; 
} 
 .left3, .right3 {  
    cursor: pointer;  
    position: absolute;  
    bottom: -4200px;
    width: auto;  
    padding: 16px;  
    margin: 100px 15px 0 15px;  
    color: black;  
    font-weight: bold;  
    font-size: 60px;  
    transition: 0.6s ease;  
    border-radius: 10px;
    background-color: gray;
    opacity:0.78; 
}  
.left4, .right4 {  
    cursor: pointer;  
    position: absolute;  
    bottom: -5400px;
    width: auto;  
    padding: 16px;  
    margin: 100px 15px 0 15px;  
    color: black;  
    font-weight: bold;  
    font-size: 60px;  
    transition: 0.6s ease;  
    border-radius: 10px;
    background-color: gray;
    opacity:0.78; 
}  
.left5, .right5 {  
    cursor: pointer;  
    position: absolute;  
    bottom: -7050px;
    width: auto;  
    padding: 16px;  
    margin: 100px 15px 0 15px;  
    color: black;  
    font-weight: bold;  
    font-size: 60px;  
    transition: 0.6s ease;  
    border-radius: 10px;
    background-color: gray;
    opacity:0.78; 
}  
.left6, .right6 {  
    cursor: pointer;  
    position: absolute;  
    bottom: -8650px;
    width: auto;  
    padding: 16px;  
    margin: 100px 15px 0 15px;  
    color: black;  
    font-weight: bold;  
    font-size: 60px;  
    transition: 0.6s ease;  
    border-radius: 10px;
    background-color: gray;
    opacity:0.78; 
}  
.right, .right2, .right3, .right4, .right5, .right6 {  
    right: -40px;  
    border-radius: 3px 0 0 3px;  
}  
    .left:hover, .right:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
    .left2:hover, .right2:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
    .left3:hover, .right3:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
    .left4:hover, .right4:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
    .left5:hover, .right5:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
    .left6:hover, .right6:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
.content {  
    color: #eff5d4;  
    font-size: 30px;  
    padding: 8px 12px;  
    position: absolute;  
    top: 10px;  
    width: 100%;  
    text-align: center;  
}  
.active {  
    background-color: #717171;  
}  
/* Fading animation */  
.fade {  

    -webkit-animation-name: fade;  
    -webkit-animation-duration: .5s;  
    animation-name: fade;  
    animation-duration: .5s; 
    
}  

@-webkit-keyframes fade {  
    from {  
        opacity: .8  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .8  
    }  
    to {  
        opacity: 1  
    }  
}  
#image_gradient1 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img1.jpg');
    width: 1023px;
    height: 827.19px;
    background-size: cover;
    display: flex;
    z-index: -1000;
    
}
#image_gradient2 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img2.jpg');
    width: 1023px;
    height: 827.19px;
    display: flex;
    z-index: -1000;
   
    background-size: cover;
    
    
}
#image_gradient3 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img3.jpg');
    width: 1023px;
    height: 827.19px;
    display: flex;
    z-index: -1000;
   
    background-size: cover;
    
    
}
#image_gradient4 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img4.jpg');
    width: 1023px;
    height: 827.19px;
    
    display: flex;
    z-index: -1000;
    background-size: cover;
    
    
}
#image_royale1 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img1.jpg');
    width: 1023px;
    height: 827.19px;
    background-size: cover;
    display: flex;
    z-index: -1000;
    
}
#image_royale2 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img2.jpg');
    width: 1023px;
    height: 827.19px;
    display: flex;
    z-index: -1;
   
    background-size: cover;
    
    
}
#image_royale3 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img3.jpg');
    width: 1023px;
    height: 827.19px;
    display: flex;
    z-index: -1;
   
    background-size: cover;
    
    
}
#image_royale4 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img4.jpg');
    width: 1023px;
    height: 827.19px;
    
    display: flex;
    z-index: -1;
    background-size: cover;
    
    
}
.plus1{
    z-index: 2;
    width: 300px;
    height: 74.8px;
    color: white;
    letter-spacing: 6px;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    border: solid white 2px;
    display: flex;
    align-items: center;
    margin-top: 650px;
    margin-left: 350px;
    padding: 0x;
}
}