@media (max-width: 1023px){
div.siteMobile{
    width: 1023px;
    height: auto;
    
}
button.découvrir{
        height: 120px;
        width: 350px;
        
        margin-left: 350px;
        margin-top: 300px;
        font-size: 30px;
        border: solid white 2px;
        background-color: rgb(37, 37, 37);
        color: white;
        font-weight: bold;
        border-radius: 60px;
        

}
#image_grid_container{
    display: grid;
    grid-template-rows: 341px 341px 341px;
    margin-top: 10em;
    
    
    
}

#image_gradient {
        background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.33), rgba(255, 255, 255, 0)),
        url('image video/chateau1.1.jpg');
        
        width: 1023px;
        height: 1023px;
        
       
       
        background-size: cover;
        
        
}
#image_gradient_index {
        background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.33), rgba(255, 255, 255, 0)),
        url('image video/chateau1.1.jpg');
        width: 1023px;
        height: 1023px;
        
       
       
        background-size: cover;
        
        
}
#image_background1 {
     
        background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.33), rgba(255, 255, 255, 0)),
        url('images/image_mariage.jpg');
        
        width: 1023px;
        height: 1023px;
        background-size: cover;
       
       
        
        
        
}
#image_background2 {
        background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.33), rgba(255, 255, 255, 0)),
        url('images/image_event.jpg');
        width: 1023px;
        height: 827.2px;
        background-size: cover;
       
       
        
        
        
}
#image_background3 {
        background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.33), rgba(255, 255, 255, 0)),
        url('images/image_seminaire.jpg');
        width: 1023px;
        height: 827.2px;
        background-size: cover;
       
       
        
        
        
}
#image_background4 {
        background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(255, 255, 255, 0)),
        url('image video/image_heb.png');
        width: 1023px;
        height: 827.2px;
        background-size: cover;
       
       
        
        
        
}
img.imageIndex{
        width: 1023px;
        z-index: -1000;
         
        
       
        
       
}
#welcome1{
        
        
        margin-top: 50px;
        color: white;
        letter-spacing: 2px;
        font-size: 80px;
       
       
        color:white;
        letter-spacing: 3px;
        
        z-index: 2;
        font-style:italic;
        font-family:serif;
        display: flex;
        justify-content: center;
        align-items: center;

       
}
#welcome2{
        
      
        
       
        z-index: 2;
        margin-top: 40px;
        color: white;
        letter-spacing: 2px;
        letter-spacing: 6px;
        font-size: 70px;
        text-decoration: solid white underline 6px;
        text-underline-offset: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        
}
#welcome3{
        
       
       
        z-index: 2;
        margin-top: 80px;
        color: white;
        letter-spacing: 6px;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 2;
        
        
}
.buttonPlus{
        
        
       
        z-index: 2;
        width: 300px;
        color: white;
        letter-spacing: 6px;
        font-size: 30px;
        background-color: rgb(0, 0, 0);
        border:solid white 2px;
        display: flex;
       
        justify-items: center;
        margin-top: 40px;
        margin-left: 350px;
        
        
        
}
button.buttonPlus:hover{
        background-color: rgb(85, 85, 85);
}
div.sidebar{
        top: 0;
        left: 0;
}
    
div.grid-item img{
        width:1023px;
}

#accroche_grid h5,p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
}
.grid-item{
       
    width: 1023px;
}
.grid-item a{
    color: white;
    text-underline-offset: 25px;
}

}
