
@media (min-width:700px){
    .nav__toggle{
        position: absolute;
        cursor: pointer;
        margin: 0rem 1rem;
        right:0;
        z-index: 100;
        
        
    }
    
    .nav svg{
            width: 1.5rem;
            fill:gray;
        }
    
    .close{
        display: none;
    }
    
    
    .nav__checkbox{
        display: none;
    }
    div.sidebar ul.sidebarList{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin: 1rem;
        list-style:none;
       
    }
    div ul li {
        text-decoration: none;
        display: none;
        
    }
    div ul button{
        display: none;
    }
    div ul li p a{
        text-decoration: none;
        list-style: none;
        display: block;
    }
    .imglogo{
        width: 5rem;
        fill: gray;
        display: block;
        position: fixed;
        left: 2rem;
    }
    label.nav__toggle{
        width:52px;
    }
    svg.menu{
        width: 52px;
        height: 52px;
        fill: white;
    }
    svg.close{
        width: 52px;
        height: 52px;
        fill: white;
    }
    #nav__checkbox:checked ~ div .sidebarList li{
        display: block;
    }
    #nav__checkbox:checked ~ label.nav__toggle .close{
        display: block;
    }
    #nav__checkbox:checked ~ label.nav__toggle .menu{
        display: none;
    }
    
    #nav__checkbox:checked ~ div ul button{
        display: block;
    }
