img.imageIndex{
    width: 1000px;
    z-index: 1;
   
    top: 5em;
}
#welcome{
    
    
  
    color: white;
    letter-spacing: 2px;
    font-size: 50px;
    z-index: 2;
   
}
#welcome2{
    
  
    z-index: 2;
    
    color: white;
    letter-spacing: 2px;
    font-size: 50px;
    
}
#p1{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 217, 0);
}
.grid-container{
display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-item{
    padding: 10px 30px;
    width: 1000px;

}
div#mariage_grid.grid-item{
    
}
div.sidebar{
    position: fixed;
    top: 0;
    left: 0;
}

